body {
  font-family: Arial, sans-serif;
  color: #fff;
}

h1 {
  font-size: 34px;
  text-transform: capitalize;
}

h3 {
  font-size: 22px;
}

#background-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#content-over-background {
  position: fixed;
  top: 2vh;
  left: 2vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#temperature {
  font-size: 60px;
}

#description::first-letter {
  text-transform: capitalize;
}

#units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  width: 40%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cell {
  border: 1px solid black;
  flex: 1;
  padding: 10px;
  text-align: center;
}

.unit-link {
  text-decoration: none;
  color: #fff;
  cursor: default;
}

.unit-link:hover {
  text-decoration: none;
}
